/* Soluzione qui */



/* #region tablet 768px */

@media screen and (min-width: 768px) {

    /* header */
    #topbar {
        justify-content: left;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }


    /* Recipe Section */

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        width: calc(100% / 3);
    }


    /* Social Network buttons  */

    .social-networks button {
        width: calc(100% / 5);
    }


    /* Advertisement banner */

    .ads {
        display: block;
    }


    /* Recipe Presentation */

    .presentation img {
        float: left;
        margin: 0 10px 10px 0;
    }

}

/* #endregion tablet 768px */